@{
    ViewData["Title"] = "Usuarios";
}

@model Usuarios;

<h2>Agregar Usuario</h2>
@if (TempData["SuccessMessage"]!=null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<form asp-action="Submit" method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label>Correo:</label>
        <input asp-for="Correo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar nuevo usuario</button>
</form>
